@{
    ViewData["Title"] = "About Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Current Time:@DateTime.Now.ToString("HH:mm:ss")</p>
<p>Welcome to the About page,@ViewBag.Name!</p>